/*********************************************
 * index CSS
 *
 * @author huayu
 * @date 2020-03-30
 *********************************************/
.fd-top {
    display: flex;
    align-items: center;
    height: 200px;
    font-size: 30px;
    margin-left: 8px;
    font-family: Georgia;
}

.fd-favicon {
    width: 80px;
}

.fd-text {
    float: left;
    width: 100%;
}

.fd-bottom {
    display: flex;
    line-height: 40px;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

.fd-left, .fd-right {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fd-center {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Georgia;
}